body {
  font-family: 'Montserrat', sans-serif;
}

.text-gradient {
  color: #4defa7;
  background-image: -webkit-linear-gradient(130deg,
      #051937 0%,
      var(--bs-primary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  padding: 0;
}

.glass {
  background: rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.form-login-register {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(15, 9, 2, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.bg-gray {
  background-color: #f0efeb !important;
}

.bg-green {
  background-color: #12322b !important;
}

hr {
  border-top-color: #a8a8a8 !important;
  border-top: px solid #a0a0a0 !important;
}

hr:before {
  width: 40px;
  height: 5px;
  background-color: #5a3e1a;
  position: absolute;
}

hr:before {
  content: ' ';
}

.footer-svg {
  background-image: url(https://framework-gb.cdn.gob.mx/landing/img/pleca.svg);
  background-color: #12322b;
  background-repeat: repeat-x;
  height: 100px;
}
